dask
emoji
ffmpeg
glcontext
graphviz
huggingface_hub
jupyter
lxml
# manim
# manimpango
# "$pkg_name @ git+ssh://git@github.com/$org_name/$repo_name@v1.1#egg=$pkg_name"
# "$pkg_name @ git+https://github.com/$org_name/$repo_name@v1.1#egg=$pkg_name"
# nessvec @ git+https://gitlab.com/tangibleai/nessvec.git@0.0.12#egg=nessvec
nessvec
nltk
pyglet
pylatex
pyrr
pyopengl
pytest
# pytorch
regex
seaborn
scipy
scikit-learn
sentence-transformers
statsmodels
spacy
torchtext
transformers
# "$pkg_name @ git+ssh://git@github.com/$org_name/$repo_name@v1.1#egg=$pkg_name"
# "$pkg_name @ git+https://github.com/$org_name/$repo_name@v1.1#egg=$pkg_name"
wikipedia @ git+https://gitlab.com/tangibleai/Wikipedia.git
xmltodict
